<ion-modal-view>
    <ion-header-bar class="bar-dark">       
        <h1 class="title">Fill The Form Below.</h1>       
    </ion-header-bar>
    <ion-content class="padding">
        <ion-list>           
            <form name="faleComigoForm" class="falecomigo" novalidate form-manager>
                <div class="list list-inset">
                    <label class="item item-input">
                        <input ng-model="message.name" name="fieldName" type="text" placeholder="Name" required ng-minlength="2" ng-maxlength="70">
                    </label>
                    <label class="item item-input">
                        <input ng-model="message.email" name="fieldEmail" type="email" placeholder="E-mail" required ng-maxlength="50">
                    </label>
                    <label class="item item-input">
                        <input ng-model="message.subject" name="fieldSubject" type="text" placeholder="Contact Number" required ng-minlength="2" ng-maxlength="70">
                    </label>
                    <label class="item item-input">
                        <textarea ng-model="message.body" name="fieldBody" placeholder="Address" rows="3" required ng-minlength="2" ng-maxlength="70"></textarea>
                    </label>                                     
                </div>

                <div>
                    <table class="table" style="width:100%; border-bottom:none;">
                        <tr>
                            <td style="text-align: center;" ng-click="message.PaymentType=1"><input ng-model="message.PaymentType" type="radio" value="1" /> &nbsp; Cash On Delivery</td>
                          
                            <td style="text-align: center;" ng-click="message.PaymentType=2"><input ng-model="message.PaymentType" type="radio" value="2" /> &nbsp; Make Payment</td>
                          
                        </tr>
                      
                    </table>                   
                </div>

                <div class="padding container">
                    <div class="row">
                        <button type="reset" class="button button-assertive button-small col col-40"> Reset </button>
                        <button ng-click="submit()" class="button button-balanced  button-small col col-40 col-offset-10"> Proceed </button>
                    </div>
                </div>

              
            </form>    
            
        </ion-list>


        
            
      
    </ion-content>    
</ion-modal-view>
<style>
    .modal-wrapper {
        min-height: 300px !important;
    }
</style>