<ion-modal-view>
    
    <ion-content class="padding">
        
        <br />
        <h2 style="text-align:center">Thank You for submitting your information.</h2>

        <h4 style="text-align:center">We Will contact you soon !!!</h4>

        <div class="padding container">
            <div class="row">
                <button ng-click="cancelPreview()" class="button button-assertive button-small col col-40"> Close </button>
            </div>
        </div>

    </ion-content>
</ion-modal-view>
