<ion-view title="Home">
  <ion-content>
    
      <ion-slide-box show-pager="true">
          <ion-slide>
              <div class="">
                  <img src="img/2.jpg" alt="" />
              </div>
          </ion-slide>
        

          <ion-slide>
              <div class="">
                  <img src="img/4.jpg" alt="" />
              </div>
          </ion-slide>

          <ion-slide>
              <div class="">
                  <img src="img/2.jpg" alt="" />
              </div>
          </ion-slide>


          <ion-slide>
              <div class="">
                  <img src="img/4.jpg" alt="" />
              </div>
          </ion-slide>
          <ion-slide>
              <div class="">
                  <img src="img/33.jpg" alt="" />
              </div>
          </ion-slide>
        
      </ion-slide-box>  




      <h4 style="text-align:center;">Featured Products</h4>

    <div class="card">
        <div  class="grid" >
            <img style="width:100px; height:100px;" src="img/TShirt4.jpg">

            <p class="price"> $150 </p>
            <p>Shivam Classic Tshirt</p>


          


        </div>
        <div class="grid">
            <img style="width:100px; height:100px;" src="img/TShirt2.jpg">

            <p class="price"> $210 </p>
            <p>Shivam Blue Tshirt</p>





        </div>

        <div class="grid">
            <img style="width:100px; height:100px;" src="img/TShirt3.jpg">

            <p class="price"> $175 </p>
            <p>Shivam Classic Tshirt</p>





        </div>
        <div class="grid">
            <img style="width:100px; height:100px;" src="img/TShirt1.jpg">

            <p class="price"> $214 </p>
            <p>Shivam Classic Tshirt</p>





        </div>

        <div class="grid">
            <img style="width:100px; height:100px;" src="img/TShirt4.jpg">

            <p class="price"> $150 </p>
            <p>Shivam Classic Tshirt</p>





        </div>
        <div class="grid">
            <img style="width:100px; height:100px;" src="img/TShirt2.jpg">

            <p class="price"> $150 </p>
            <p>Shivam Classic Tshirt</p>





        </div>
    </div>

   
  </ion-content>
</ion-view>
<style>
    .slider {
  
  background-color: #eee;
}


    .slider img
    {
        width:100%;
    }

.box {
  padding: 1em;
}

  .grid {
        width: 50%;
        float: left;
        margin-bottom: 12px;
        text-align: center;
        border: 1px solid #eee;
        padding-top: 10px;
        padding-bottom: 10px;
    }
              p.price {
                color:brown;
                font-size:20px;
                font-family:cursive
            }
</style>