<ion-view title="About SHIVAM ITCS">

   

  <ion-content class="">
      <img style="width:100%;" src="img/about.jpg" alt="" />

      <div class="padding">
          <p style=" color:#808080">SHIVAM ITCS is a India-based IT firm specializing in complex web and mobile application design & development. As a global outsourcing provider of IT services, we have a wide range of services to offer you</p>

         
          <h4 style="margin-top:20px;"><b> Approach us </b></h4>
          <!--<table style="width:100%;">
            
              <tr>
                  <td>
                      <img style="width:75px; height:75px; margin-bottom:15px; border-radius:100%;" src="img/a.jpg" alt="" />
                  </td>
                  <td style="vertical-align:middle">
                      <h4 style="margin-bottom:3px; margin-top:0px; font-size:17px;">Ajay Paliwal</h4>
                      <p style="color:#888; margin-bottom:2px;">Education - BTech</p>
                      <p style="color:#888">Senior Software developer</p>
                  </td>
              </tr>

              <tr>
                  <td>
                      <img style="width:75px; height:75px; margin-bottom:15px; border-radius:100%;" src="img/a.jpg" alt="" />
                  </td>
                  <td style="vertical-align:middle">
                      <h4 style="margin-bottom:3px; margin-top:0px; font-size:17px;">Ajay Paliwal</h4>
                      <p style="color:#888; margin-bottom:2px;">Education - BTech</p>
                      <p style="color:#888">Senior Software developer</p>
                  </td>
              </tr>

              <tr>
                  <td>
                      <img style="width:75px; height:75px; border-radius:100%;" src="img/a.jpg" alt="" />
                  </td>
                  <td style="vertical-align:middle">
                      <h4 style="margin-bottom:3px; margin-top:0px; font-size:17px;">Ajay Paliwal</h4>
                      <p style="color:#888; margin-bottom:2px;">Education - BTech</p>
                      <p style="color:#888">Senior Software developer</p>
                  </td>
              </tr>
              
              
          </table>-->

          <p >
              <b>Phone</b> :
              +91.295.323.2033 0r +91.941.383.3633
          </p>
          <p>
              <b> Email</b> :
              ceo@shivamitconsultancy.com
          </p>
          <p>
              <b>Address</b>  :
              SHIVAM ITCS, Inc.
              Girdhar nagar, near Nand ji ki Bavri
              Naniji ka Bagh
              NATHDWARA, INDIA
              <br />
              <b>
                  Web
              </b>: www.shivamitconsultancy.com
              <br />
              <b>
                  Web
              </b>: www.shivamitcs.in
              <br />
              <b>
                  P
              </b>: +91.295.323.2033
</p>

</div>
  </ion-content>
</ion-view>
<style>
    p {
        color:#808080;
    }
</style>